<!DOCTYPE html>
<html>
<head>
	<title>Placefinder</title>
</head>
<body>
	<p>Hello world!</p>
	<form method="post">
		<p>What place are you looking for?</p>
		<input type="text" name="search" />
		<input type="submit" value="Search" />
	</form>
</body>
</html>