<!DOCTYPE html>
<html>
<head>
	<title>Placefinder</title>
</head>
<body>
	<p>Place name: <%= @name %></p>
	<p>Rating: <%= @rating %></p>
	<p>Booking data below</p>
	<% if @booking_data['status'] == :not_found %>
		<p>Couldn't find <% @name %> on Booking.com</p>
	<% else %>
		<p><%= @booking_data%></p>
	<% end %>
	<p>Tripadvisor data below</p>
	<% if @tripadvisor_data['status'] == :not_found %>
		<p>Couldn't find <% @name %> on Tripadvisor.com</p>
	<% else %>
		<p><%= @tripadvisor_data%></p>
	<% end %>
</body>
</html>