<!DOCTYPE html>
<html>
<head>
	<title>Placefinder</title>
</head>
<body>
	<p>Results for <%= @query %></p>
	<% @suggestions.each do |place| %>
		<p><%= place['name'] %></p>
		<p><%= place['formatted_address'] %></p>
		<p><%= place['rating'] %></p>
	<% end %>
</body>
</html>