<div class="panel panel-default center-block">
	<div class="panel-heading">
		<h3 class="panel-title">Results for "<%= @query %>"</h3>
	</div>

	<div class="panel-body">
		<a href="/"><h3 id="search-again-button">Search again</h3></a>

		<% if @suggestions.is_a? Hash %>
			<h3>Whoops, something went wrong. Try again, maybe?</h3>
		<% else %>
			<div class="list-group">
				<% @suggestions.each do |place| %>
					<div class="list-group-item">
						<a href="/place/<%= place['place_id'] %>">
							<h3 class="list-group-item-heading suggestion-title"><%= place['name'] %></h4>
						</a>

						<p class="list-group-item-text"><%= place['formatted_address'] %></p>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>